body{
     font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f5f2;
    color: #333;
}
nav {
    background-color: #8b0000;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd700;
}